Package: com.devland.enjoywithqrm
Name: Enjoy with QRM
Version: 2.1
Architecture: iphoneos-arm
Description: An awesome tweak for TikTok!
Maintainer: Raed Al-Marshdi
Author: Raed Al-Marshdi
Section: Tweaks
Depends: mobilesubstrate
