Package: com.raulsaeed.bhtiktok++
Name: BHTikTok++
Version: 1.4.3
Architecture: iphoneos-arm
Description: An awesome tweak for TikTok!
Maintainer: raul saeed
Author: raul saeed
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
